.ActiveQuiz {
    background: rgba(253,193,104,1);
    width: 600px;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    min-height: 180px;
    max-height: 500px;
    overflow: auto !important;
}


.ActiveQuiz .Task {
    display: flex;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ActiveQuiz .Number {
    font-weight: 500;
}

.ActiveQuiz .TaskText {
    text-align: left;
}

@media (max-width: 630px) {
    .ActiveQuiz {
        width: 400px;
        max-height: 90vh;
    }
}

@media (max-width: 420px) {
    .ActiveQuiz {
        width: 300px;
    }

    .ActiveQuiz .Task {
        font-size: 19px;
    }
}